@font-face {
    font-family: OpenSansSemibold;
    src: url("fonts/opensans_semibold.ttf");
}

@font-face {
    font-family: OpenSansBold;
    src: url("fonts/opensans_bold.ttf");
}

@font-face {
    font-family: OpenSansRegular;
    src: url("fonts/opensans_regular.ttf");
}
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

.left-box {
    width: 330px;
    margin-right: 60px;
}

.right-box {
    width: 570px;
}

.img-item {
    margin-bottom: 50px;
}

.quote {
    font-family: Georgia;
    font: italic 28px normal;
    color: #8e8e8e;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 60px;
    padding: 0;
    width: 440px;
}
.quotes-author {
    font-family: OpenSansSemibold;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 211px;
    margin-left: 60px;
    padding: 0;
    width: 440px;
}
.favourites {
    font-family: OpenSansSemibold;
    font-size: 22px;
    color: #15a98c;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}
.favourite-element {
    font-family: Georgia;
    font: normal 18px normal;
    margin-bottom: 15px;
}

.first-heading {
    font-family: OpenSansBold;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.second-heading {
    font-family: OpenSansRegular;
    font-size: 30px;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.text {
    font-font: Georgia;
    font: normal 20px/36px normal;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
}

.green-line {
    margin-top: 24px;
    margin-bottom: 50px;
    width: 60px;
    height: 6px;
    background: #45c3aa;
    border-radius: 6px/6px;
}

.write-me {
    font: normal 18px normal;
    color: #15a98b;
}
.write-me:hover {
    font: normal 18px normal;
    color: #098d72;
}
ul {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    padding-left: 18px;
}

ol {
    margin: 0;
    padding: 0;
    padding-left: 18px;
}